.rectangle-a{
  top: 22px;
  left: 0;
  background-color: var(--color-white);
  width: 98.91px;
  height: 86.05px;
}
.account-1-a {
  position: absolute;
  top: 14px;
  left: 0px;
  width: 77.55px;
  height: 69.47px;
  object-fit: cover;
}
.rectangle-v {
  position: absolute;
  top: 12px;
  left: -52px;
  border-radius: var(--br-xs);
  width: 231.29px;
  height: 73px;
}
.volei-juvenil-v {
  position: absolute;
  top: 31px;
  left: -18px;
  font-weight: 600;
  display: inline-block;
  width: 204.72px;
  height: 39px;
  font-size: 22px;
  color: var(--color-indigo);
}
.detalii-d {
  position: absolute;
  top: 31px;
  left: -24px;
  font-weight: 600;
  display: inline-block;
  width: 102.36px;
  height: 39px;
  mix-blend-mode: normal;
  font-size: 22px;
  color: var(--color-indigo);
}
.rectangle-d {
  position: absolute;
  top: 12px;
  left: -52px;
  border-radius: var(--br-xs);
  width: 136.07px;
  height: 73px;
}
.rectangle-ca {
  position: absolute;
  top: 12px;
  left: -52px;
  border-radius: var(--br-xs);
  width: 172.46px;
  height: 73px;
}
.calendar-c {
  position: absolute;
  top: 31px;
  left: -28px;
  font-weight: 600;
  display: inline-block;
  width: 139.05px;
  height: 41px;
  mix-blend-mode: normal;
  font-size: 22px;
  color: var(--color-indigo);
}
.rectangle-c {
  position: absolute;
  top: 12px;
  left: -30px;
  border-radius: var(--br-xs);
  width: 180.55px;
  height: 73px;
}
.clasament-c {
  position: absolute;
  top: 31px;
  left: -34px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-indigo);
  text-align: center;
  display: inline-block;
  width: 191.2px;
  height: 29px;
  mix-blend-mode: normal;
  font-size: 22px;
}
.rectangle-l {
  position: absolute;
  top: 40px;
  left: 480px;
  border-radius: var(--br-xs);
  width: 82.14px;
  height: 73px;
}
.lot-l {
  position: absolute;
  top: 60px;
  left: 500px;
  font-weight: 600;
  display: inline-block;
  width: 54.08px;
  height: 36px;
  mix-blend-mode: normal;
  font-size: 22px;
  color: var(--color-indigo);
}
.rectangle-n {
  position: absolute;
  top: 40px;
  left: 330px;
  border-radius: var(--br-xs);
  width: 136.07px;
  height: 73px;
}
.nouti-n{
  position: absolute;
  top: 60px;
  left: 348px;
  font-weight: 600;
  display: inline-block;
  width: 110.08px;
  height: 31px;
  font-size: 22px;
  color: var(--color-indigo);
}
.volei-csm-p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size:20px;
}
.suceava-p {
  margin: 0;
  font-size:20px;
}
.volei-csm-suceava {
  position: absolute;
  top: 35px;
  left: 90.77px;
  font-weight: 600;
  display: inline-block;
  width: 158.37px;
  height: 72px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-csm-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 90.91px;
  height: 110px;
  object-fit: cover;
}
.logo-div {
  position: absolute;
  top: 23px;
  left: 50.39px;
  width: 249.14px;
  height: 110px;
  text-align: left;
  color: var(--color-black);
}
.house-1-icon2 {
  position: absolute;
  top: 30px;
  left: 746px;
  width: 72px;
  height: 68.44px;
  object-fit: cover;
  cursor: pointer;
}
.captura-de-ecran-din-2022-11- {
  position: absolute;
  top: -684px;
  left: 2px;
  width: 1468px;
  height: 639px;
  object-fit: cover;
}
.rectangle-icon54 {
  position: absolute;
  top: 0;
  left: -4px;
  border-radius: var(--br-xs);
  width: 215px;
  height: 64px;
}
.ob-div {
  position: absolute;
  top: 15px;
  left: 23px;
  font-weight: 600;
  display: inline-block;
  width: 254px;
  height: 44px;
  font-size: 22px;
}
.obtine-indicatii-div {
  position: absolute;
  top: 42px;
  left: 626px;
  width: 287px;
  height: 56px;
  cursor: pointer;
  color: var(--color-indigo);
}
.address-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 67px;
  object-fit: cover;
}
.bulevardul-1-decembrie-1918-7 {
  position: absolute;
  top: 31px;
  left: 78px;
  font-weight: 600;
  display: inline-block;
  width: 1126px;
  height: 46px;
  font-size: 22px;
}
.adresa-div1 {
  position: absolute;
  top: -27px;
  left: 321px;
  width: 1004px;
  height: 77px;
  font-size: var(--font-size-2xl);
}
.adres-div,
.line-icon5 {
  position: absolute;
  top: 106.57px;
  left: -50px;
  width: 332.01px;
  height: 14.48px;
}
.adres-div {
  top: 65px;
  left: 119px;
  font-weight: 600;
  display: inline-block;
  width: 155px;
  height: 50px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
}
.address-1-icon1 {
  position: absolute;
  top: 20px;
  left: 234.64px;
  width: 46.89px;
  height: 84.96px;
  object-fit: cover;
}
.adresa-div,
.adress-div {
  position: absolute;
  top: -830px;
  left: 0;
  width: 384px;
  height: 113.04px;
  font-size: var(--font-size-4xl);
}
.adresa-div {
  top: 3389px;
  left: 30px;
  width: 1470px;
  height: 942px;
  font-size: var(--font-size-xl);
}
.istorie-div1,
.line-icon6 {
  position: absolute;
  top: 76.7px;
  left: 7px;
  width: 312px;
  height: 14.34px;
}
.istorie-div1 {
  top: 40px;
  left: 178px;
  font-weight: 600;
  display: inline-block;
  width: 170px;
  height: 45px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
}
.hourglass-1-icon {
  position: absolute;
  top: 28px;
  left: 277.43px;
  width: 40.57px;
  height: 46.96px;
  object-fit: cover;
}
.b,
.istorie-div {
  position: absolute;
  top: 600px;
  left: -13px;
  width: 384px;
  height: 83.04px;
}
.b {
  top: 0;
  left: 732px;
  font-size: 22px;
  display: inline-block;
  text-align: left;
  width: 167px;
  height: 52px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.campionat-naional-divizia {
  margin-block-start: 0;
  margin-block-end: 0;
}
.campionat-naional-divizia-a1 {
  position: absolute;
  top: 40px;
  left: 380px;
  display: inline-block;
  color: var(--color-indigo);
  width: 768px;
  height: 160px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 22px;
}
.fb-img-1665206657176-copie-1 {
  position: absolute;
  top: 115px;
  left: 0px;
  width: 1458px;
  height: 549px;
  object-fit: cover;
}
.suceava-a-reuit {
  margin: 0;
}
.va-fi-un-campionat-lung-i-dif {
  position: absolute;
  top: 672px;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 1401px;
  height: 424px;
  font-size: 22px;
}
.istorie-2022-div {
  position: absolute;
  top: 686px;
  left: 36px;
  width: 1464px;
  height: 1356px;
  text-align: center;
 
}
.line-icon7,
.viziune-div1 {
  position: absolute;
  top: 70.74px;
  left: 0;
  width: 308px;
  height: 14.24px;
}
.viziune-div1 {
  top: 30.98px;
  left: 156px;
  font-weight: 600;
  display: inline-block;
  width: 170px;
  height: 37px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
}
.optics-2-1-icon {
  position: absolute;
  top: 25px;
  left: 265.85px;
  width: 38.15px;
  height: 42.08px;
  object-fit: cover;
}
.lot-1-icon1,
.viziune-div {
  position: absolute;
  top: 145.02px;
  left: 0;
  width: 384px;
  height: 76.98px;
}
.lot-1-icon1 {
  top: 70px;
  left: 35px;
  width: 986px;
  height: 341px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.line-div {
  position: absolute;
  top: 22px;
  left: 15.8px;
  border-right: 7px solid var(--color-brown);
  box-sizing: border-box;
  width: 7px;
  height: 340px;
}
.line-div1,
.line-div2,
.line-div3 {
  border-top: 7px solid var(--color-brown);
  width: 59.97px;
  height: 7px;
}
.line-div1 {
  position: absolute;
  top: 17px;
  left: 16.5px;
  box-sizing: border-box;
}
.line-div2,
.line-div3 {
  left: 941.53px;
}
.line-div2 {
  position: absolute;
  top: 17px;
  box-sizing: border-box;
}
.line-div3 {
  top: 359.5px;
}
.line-div3,
.line-div4,
.line-div5 {
  position: absolute;
  box-sizing: border-box;
}
.line-div4 {
  top: 359.5px;
  left: 16.5px;
  border-top: 7px solid var(--color-brown);
  width: 59.97px;
  height: 7px;
}
.line-div5 {
  top: 22px;
  left: 994.5px;
  border-right: 7px solid var(--color-brown);
  width: 7px;
  height: 340px;
}
.antrenm-i-pregtim-viitori-c {
  position: absolute;
  top: 145.97px;
  left: 270.74px;
  display: inline-block;
  font-weight: 700;
  width: 496.51px;
  height: 39.84px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 34px;
}
.group-div2,
.viz-div {
  position: absolute;
  top: 50px;
  left: 15px;
  width: 1018px;
  height: 433px;
}
.group-div2 {
  top: 181px;
  left: 310px;
  text-align: center;
  font-size: 50px;
  color: var(--color-brown);
}
.line-icon8,
.trofee-div2 {
  position: absolute;
  top: 91.82px;
  left: 0;
  width: 312px;
  height: 14.38px;
}
.trofee-div2 {
  top: 60px;
  left: 165px;
  font-weight: 600;
  display: inline-block;
  width: 181px;
  height: 40.54px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
}
.trophy-1-icon {
  position: absolute;
  top: 30px;
  left: 264px;
  width: 50px;
  height:60.02px;
  object-fit: cover;
}
.trofee-div1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 384px;
  height: 98.2px;
  font-size: var(--font-size-4xl);
}
.csm-suceava-6-icon {
  position: absolute;
  top: 284px;
  left: 32px;
  width: 1458px;
  height: 742px;
  object-fit: cover;
}
.ellipse-icon3,
.trofeu3-div1 {
  position: absolute;
  top: -10px;
  left: -14px;
  width: 173px;
  height: 157px;
}
.trofeu3-div1 {
  top: 55.36px;
  left: 35px;
  font-weight: 600;
  display: inline-block;
  width: 136.18px;
  height: 36.29px;
  font-size: 22px;
}
.trofeu2-div1,
.trofeu3-div,
.trofeu4-div {
  position: absolute;
  top: 122.75px;
  left: 846.1px;
  width: 275px;
  height: 259px;
}
.trofeu2-div1,
.trofeu4-div {
  left: 1176.99px;
}
.trofeu2-div1 {
  top: 55.36px;
  left: 30.07px;
  font-weight: 600;
  display: inline-block;
  width: 136.18px;
  height: 36.29px;
  font-size: 22px;
}
.trofee-div,
.trofeu1-div,
.trofeu2-div {
  position: absolute;
  top: 122.75px;
  left: 523.59px;
  width: 275px;
  height: 259px;
}
.trofee-div,
.trofeu1-div {
  left: 216.44px;
}
.trofee-div {
  top: 1529px;
  left: 0;
  width: 1500px;
  height: 1148px;
  font-size: var(--font-size-3xl);
}
.details-div {
  top:-22px;
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3499px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
