.house-1-icon2 {
  position: absolute;
  top: 30px;
  left: 746px;
  width: 72px;
  height: 68.44px;
  object-fit: cover;
  cursor: pointer;
}
.captura-de-ecran-din-2022-11- {
  position: absolute;
  top: 134px;
  left: 2px;
  width: 1468px;
  height: 639px;
  object-fit: cover;
}
.rectangle-icon54 {
  position: absolute;
  top: 0;
  left: -4px;
  border-radius: var(--br-xs);
  width: 295px;
  height: 64px;
}
.ob-div {
  position: absolute;
  top: 12px;
  left: 33px;
  font-weight: 600;
  display: inline-block;
  width: 254px;
  height: 44px;
}
.obtine-indicatii-div {
  position: absolute;
  top: 886px;
  left: 606px;
  width: 287px;
  height: 56px;
  cursor: pointer;
  color: var(--color-indigo);
}
.address-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 78px;
  height: 77px;
  object-fit: cover;
}
.bulevardul-1-decembrie-1918-7 {
  position: absolute;
  top: 31px;
  left: 78px;
  font-weight: 600;
  display: inline-block;
  width: 1126px;
  height: 46px;
}
.adresa-div1 {
  position: absolute;
  top: 787px;
  left: 181px;
  width: 1204px;
  height: 77px;
  font-size: var(--font-size-2xl);
}
.adres-div,
.line-icon5 {
  position: absolute;
  top: 106.57px;
  left: -4.01px;
  width: 392.01px;
  height: 14.48px;
}
.adres-div {
  top: 45px;
  left: 159px;
  font-weight: 600;
  display: inline-block;
  width: 155px;
  height: 50px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.address-1-icon1 {
  position: absolute;
  top: 0;
  left: 324.64px;
  width: 56.89px;
  height: 94.96px;
  object-fit: cover;
}
.adresa-div,
.adress-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 384px;
  height: 113.04px;
  font-size: var(--font-size-4xl);
}
.adresa-div {
  top: 3389px;
  left: 30px;
  width: 1470px;
  height: 942px;
  font-size: var(--font-size-xl);
}
.istorie-div1,
.line-icon6 {
  position: absolute;
  top: 76.7px;
  left: 13px;
  width: 375px;
  height: 14.34px;
}
.istorie-div1 {
  top: 16px;
  left: 168px;
  font-weight: 600;
  display: inline-block;
  width: 170px;
  height: 45px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.hourglass-1-icon {
  position: absolute;
  top: 0;
  left: 323.43px;
  width: 60.57px;
  height: 66.96px;
  object-fit: cover;
}
.b,
.istorie-div {
  position: absolute;
  top: 703px;
  left: -13px;
  width: 384px;
  height: 83.04px;
}
.b {
  top: 0;
  left: 732px;
  font-size: var(--font-size-7xl);
  display: inline-block;
  text-align: left;
  width: 167px;
  height: 52px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.campionat-naional-divizia {
  margin-block-start: 0;
  margin-block-end: 0;
}
.campionat-naional-divizia-a1 {
  position: absolute;
  top: 81px;
  left: 380px;
  display: inline-block;
  color: var(--color-indigo);
  width: 768px;
  height: 160px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.fb-img-1665206657176-copie-1 {
  position: absolute;
  top: 241px;
  left: -4px;
  width: 1468px;
  height: 649px;
  object-fit: cover;
}
.suceava-a-reuit {
  margin: 0;
}
.va-fi-un-campionat-lung-i-dif {
  position: absolute;
  top: 932px;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 1401px;
  height: 424px;
}
.istorie-2022-div {
  position: absolute;
  top: 786px;
  left: 36px;
  width: 1464px;
  height: 1356px;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.line-icon7,
.viziune-div1 {
  position: absolute;
  top: 70.74px;
  left: 0;
  width: 388px;
  height: 14.24px;
}
.viziune-div1 {
  top: 6.98px;
  left: 156px;
  font-weight: 600;
  display: inline-block;
  width: 170px;
  height: 37px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.optics-2-1-icon {
  position: absolute;
  top: 0;
  left: 325.85px;
  width: 58.15px;
  height: 62.08px;
  object-fit: cover;
}
.lot-1-icon1,
.viziune-div {
  position: absolute;
  top: 65.02px;
  left: 0;
  width: 384px;
  height: 76.98px;
}
.lot-1-icon1 {
  top: 0;
  left: -4px;
  width: 1026px;
  height: 441px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.line-div {
  position: absolute;
  top: -3.5px;
  left: 1.8px;
  border-right: 7px solid var(--color-brown);
  box-sizing: border-box;
  width: 7px;
  height: 440px;
}
.line-div1,
.line-div2,
.line-div3 {
  border-top: 7px solid var(--color-brown);
  width: 59.97px;
  height: 7px;
}
.line-div1 {
  position: absolute;
  top: 3.5px;
  left: -3.5px;
  box-sizing: border-box;
}
.line-div2,
.line-div3 {
  left: 961.53px;
}
.line-div2 {
  position: absolute;
  top: -3.5px;
  box-sizing: border-box;
}
.line-div3 {
  top: 429.5px;
}
.line-div3,
.line-div4,
.line-div5 {
  position: absolute;
  box-sizing: border-box;
}
.line-div4 {
  top: 429.5px;
  left: -3.5px;
  border-top: 7px solid var(--color-brown);
  width: 59.97px;
  height: 7px;
}
.line-div5 {
  top: -3.5px;
  left: 1014.5px;
  border-right: 7px solid var(--color-brown);
  width: 7px;
  height: 440px;
}
.antrenm-i-pregtim-viitori-c {
  position: absolute;
  top: 145.97px;
  left: 110.74px;
  display: inline-block;
  font-weight: 700;
  width: 796.51px;
  height: 139.84px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.group-div2,
.viz-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 1018px;
  height: 433px;
}
.group-div2 {
  top: 181px;
  left: 310px;
  text-align: center;
  font-size: 50px;
  color: var(--color-brown);
}
.line-icon8,
.trofee-div2 {
  position: absolute;
  top: 91.82px;
  left: 0;
  width: 388px;
  height: 14.38px;
}
.trofee-div2 {
  top: 39.48px;
  left: 150px;
  font-weight: 600;
  display: inline-block;
  width: 181px;
  height: 40.54px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.trophy-1-icon {
  position: absolute;
  top: 0;
  left: 314px;
  width: 70px;
  height: 80.02px;
  object-fit: cover;
}
.trofee-div1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 384px;
  height: 98.2px;
  font-size: var(--font-size-4xl);
}
.csm-suceava-6-icon {
  position: absolute;
  top: 414px;
  left: 32px;
  width: 1468px;
  height: 742px;
  object-fit: cover;
}
.ellipse-icon3,
.trofeu3-div1 {
  position: absolute;
  top: -10px;
  left: -14px;
  width: 303px;
  height: 287px;
}
.trofeu3-div1 {
  top: 111.36px;
  left: 70.07px;
  font-weight: 600;
  display: inline-block;
  width: 136.18px;
  height: 36.29px;
}
.trofeu2-div1,
.trofeu3-div,
.trofeu4-div {
  position: absolute;
  top: 122.75px;
  left: 826.1px;
  width: 275px;
  height: 259px;
}
.trofeu2-div1,
.trofeu4-div {
  left: 1176.99px;
}
.trofeu2-div1 {
  top: 103.85px;
  left: 70.07px;
  font-weight: 600;
  display: inline-block;
  width: 136.18px;
  height: 36.29px;
}
.trofee-div,
.trofeu1-div,
.trofeu2-div {
  position: absolute;
  top: 122.75px;
  left: 463.59px;
  width: 275px;
  height: 259px;
}
.trofee-div,
.trofeu1-div {
  left: 96.44px;
}
.trofee-div {
  top: 2209px;
  left: 0;
  width: 1500px;
  height: 1148px;
  font-size: var(--font-size-3xl);
}
.details-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4367px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
