.rectangle-a{
  top: 22px;
  left: 0;
  background-color: var(--color-white);
  width: 98.91px;
  height: 86.05px;
}
.account-1-a {
  position: absolute;
  top: 14px;
  left: 0px;
  width: 77.55px;
  height: 69.47px;
  object-fit: cover;
}
.rectangle-v {
  position: absolute;
  top: 12px;
  left: -52px;
  border-radius: var(--br-xs);
  width: 231.29px;
  height: 73px;
}
.volei-juvenil-v {
  position: absolute;
  top: 31px;
  left: -18px;
  font-weight: 600;
  display: inline-block;
  width: 204.72px;
  height: 39px;
  font-size: 22px;
  color: var(--color-indigo);
}
.detalii-d {
  position: absolute;
  top: 31px;
  left: -24px;
  font-weight: 600;
  display: inline-block;
  width: 102.36px;
  height: 39px;
  mix-blend-mode: normal;
  font-size: 22px;
  color: var(--color-indigo);
}
.rectangle-d {
  position: absolute;
  top: 12px;
  left: -52px;
  border-radius: var(--br-xs);
  width: 136.07px;
  height: 73px;
}
.rectangle-ca {
  position: absolute;
  top: 12px;
  left: -52px;
  border-radius: var(--br-xs);
  width: 172.46px;
  height: 73px;
}
.calendar-c {
  position: absolute;
  top: 31px;
  left: -28px;
  font-weight: 600;
  display: inline-block;
  width: 139.05px;
  height: 41px;
  mix-blend-mode: normal;
  font-size: 22px;
  color: var(--color-indigo);
}
.rectangle-c {
  position: absolute;
  top: 12px;
  left: -30px;
  border-radius: var(--br-xs);
  width: 180.55px;
  height: 73px;
}
.clasament-c {
  position: absolute;
  top: 31px;
  left: -34px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-indigo);
  text-align: center;
  display: inline-block;
  width: 191.2px;
  height: 29px;
  mix-blend-mode: normal;
  font-size: 22px;
}
.rectangle-l {
  position: absolute;
  top: 40px;
  left: 480px;
  border-radius: var(--br-xs);
  width: 82.14px;
  height: 73px;
}
.lot-l {
  position: absolute;
  top: 60px;
  left: 500px;
  font-weight: 600;
  display: inline-block;
  width: 54.08px;
  height: 36px;
  mix-blend-mode: normal;
  font-size: 22px;
  color: var(--color-indigo);
}
.rectangle-n {
  position: absolute;
  top: 40px;
  left: 330px;
  border-radius: var(--br-xs);
  width: 136.07px;
  height: 73px;
}
.nouti-n{
  position: absolute;
  top: 60px;
  left: 348px;
  font-weight: 600;
  display: inline-block;
  width: 110.08px;
  height: 31px;
  font-size: 22px;
  color: var(--color-indigo);
}
.volei-csm-p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size:20px;
}
.suceava-p {
  margin: 0;
  font-size:20px;
}
.volei-csm-suceava {
  position: absolute;
  top: 35px;
  left: 90.77px;
  font-weight: 600;
  display: inline-block;
  width: 158.37px;
  height: 72px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-csm-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 90.91px;
  height: 110px;
  object-fit: cover;
}
.logo-div {
  position: absolute;
  top: 23px;
  left: 50.39px;
  width: 249.14px;
  height: 110px;
  text-align: left;
  color: var(--color-black);
}

.lot-1-icon2 {
  position: absolute ;
  top: 150px;
  left: 37px;
  width: 1467px;
  height: 625px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.ellipse-icon8,
.icon {
  position: absolute;
  top: -10px;
  left: -14px;
  width: 368.21px;
  height: 362.1px;
}
.icon {
  top: 20.56px;
  left: 22.26px;
  border-radius: 92px;
  width: 295.7px;
  height: 292.98px;
  object-fit: cover;
}
.poza-1-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 340.21px;
  height: 334.1px;
}
.tofan-elen-lucian-div {
  position: absolute;
  top: 352.61px;
  left: 40.27px;
  font-weight: 600;
  display: inline-block;
  width: 254.37px;
  height: 35.98px;
  font-size: 22px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.div14 {
  position: absolute;
  top: 30px;
  left: 116.51px;
  width: 340.21px;
  height: 388.59px;
}
.teamplayer-176-2065-1-icon1 {
  position: absolute;
  top: 20.56px;
  left: 7.42px;
  border-radius: 124px;
  width: 325.38px;
  height: 298.12px;
  object-fit: cover;
}
.pop-darius-cristian1 {
  position: absolute;
  top: 351.58px;
  left: 46.63px;
  font-weight: 600;
  display: inline-block;
  width: 286.16px;
  height: 37.01px;
  font-size: 22px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.div15 {
  position: absolute;
  top: 30px;
  left: 606.27px;
  width: 340.21px;
  height: 388.59px;
  cursor: pointer;
}
.teamplayer-176-2223-1-icon {
  position: absolute;
  top: 11.31px;
  left: 7.42px;
  border-radius: 131px;
  width: 326.44px;
  height: 307.38px;
  object-fit: cover;
}
.verciuc-ioan-div {
  position: absolute;
  top: 352.61px;
  left: 80.55px;
  font-weight: 600;
  display: inline-block;
  width: 219.39px;
  height: 35.98px;
  font-size: 22px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.div16,
.icon1 {
  position: absolute;
  top: 30px;
  left: 1095.79px;
  width: 340.21px;
  height: 388.59px;
}
.icon1 {
  top: 6.17px;
  left: 19.08px;
  border-radius: 125px;
  width: 303.12px;
  height: 322.8px;
  object-fit: cover;
}
.roman-alexandru-div {
  position: absolute;
  top: 358.78px;
  left: 40.27px;
  font-weight: 600;
  display: inline-block;
  width: 276.62px;
  height: 45.23px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 22px;
}
.div17,
.icon2 {
  position: absolute;
  top: 483.07px;
  left: 116.51px;
  width: 340.21px;
  height: 404.01px;
}
.icon2 {
  top: 17.48px;
  left: 18.02px;
  border-radius: 135px;
  width: 304.18px;
  height: 314.57px;
  object-fit: cover;
}
.sasu-andrei-div {
  position: absolute;
  top: 358.78px;
  left: 54.05px;
  font-weight: 600;
  display: inline-block;
  width: 271.32px;
  height: 38.04px;
  font-size: 22px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.div18,
.icon3 {
  position: absolute;
  top: 483.07px;
  left: 598.85px;
  width: 340.21px;
  height: 396.81px;
}
.icon3 {
  top: 7.2px;
  left: 24.38px;
  border-radius: 128px;
  width: 291.46px;
  height: 324.85px;
  object-fit: cover;
}
.hortopeanu-sabin-div {
  position: absolute;
  top: 358.78px;
  left: 47.69px;
  font-weight: 600;
  display: inline-block;
  width: 279.8px;
  height: 30.84px;
  font-size: 22px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.div19,
.icon4 {
  position: absolute;
  top: 483.07px;
  left: 1089.49px;
  width: 340.21px;
  height: 389.62px;
}
.icon4 {
  top: 9.25px;
  left: 24.38px;
  border-radius: 112px;
  width: 291.46px;
  height: 315.6px;
  object-fit: cover;
}
.gontariu-marius-gabriel {
  position: absolute;
  top: 349.52px;
  left: 4.24px;
  font-weight: 600;
  display: inline-block;
  width: 348.69px;
  height: 44.2px;
  font-size: 22px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.div20,
.icon5 {
  position: absolute;
  top: 951.56px;
  left: 116.51px;
  width: 352.93px;
  height: 393.73px;
}
.icon5 {
  top: 14.39px;
  left: 26.5px;
  border-radius: 95px;
  width: 287.22px;
  height: 305.32px;
  object-fit: cover;
}
.platon-matei-div {
  position: absolute;
  top: 349.52px;
  left: 63.59px;
  font-weight: 600;
  display: inline-block;
  width: 276.62px;
  height: 50.37px;
  font-size: 22px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.div21 {
  position: absolute;
  top: 951.56px;
  left: 606.27px;
  width: 340.21px;
  height: 399.9px;
}
.teamplayer-176-2219-1-icon {
  position: absolute;
  top: 9.25px;
  left: 37.09px;
  border-radius: 108px;
  width: 267.08px;
  height: 324.85px;
  object-fit: cover;
}
.boghean-cosmin-div {
  position: absolute;
  top: 349.52px;
  left: 52.99px;
  font-weight: 600;
  display: inline-block;
  width: 254.37px;
  height: 30.84px;
  font-size: 22px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.div22,
.icon6 {
  position: absolute;
  top: 951.56px;
  left: 1089.49px;
  width: 340.21px;
  height: 380.36px;
}
.icon6 {
  top: 8.22px;
  left: 20.14px;
  border-radius: 162.5px;
  width: 301px;
  height: 317.66px;
  object-fit: cover;
}
.dragomir-alexandru-div {
  position: absolute;
  top: 353.64px;
  left: 16.96px;
  font-weight: 600;
  display: inline-block;
  width: 307.36px;
  height: 37.01px;
  font-size: 22px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.div23,
.icon7 {
  position: absolute;
  top: 1399.78px;
  left: 116.51px;
  width: 340.21px;
  height: 390.64px;
}
.icon7 {
  top: 20.56px;
  left: 33.92px;
  border-radius: 78px;
  width: 273.44px;
  height: 294.01px;
  object-fit: cover;
}
.ciubotariu-cezar-div {
  position: absolute;
  top: 353.64px;
  left: 51.93px;
  font-weight: 600;
  display: inline-block;
  width: 272.38px;
  height: 33.92px;
  font-size: 22px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.div24 {
  position: absolute;
  top: 1399.78px;
  left: 606.27px;
  width: 340.21px;
  height: 387.56px;
}
.ellipse-icon19,
.icon8 {
  position: absolute;
  top: -10px;
  left: -0.22px;
  width: 368.21px;
  height: 362.1px;
}
.icon8 {
  top: 8.22px;
  left: 39.21px;
  border-radius: 137px;
  width: 290.4px;
  height: 317.66px;
  object-fit: cover;
}
.ciubotaru-cosmin-robert-div {
  position: absolute;
  top: 353.64px;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 368.83px;
  height: 45.23px;
  font-size: 22px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.div25,
.icon9 {
  position: absolute;
  top: 1399.78px;
  left: 1061.15px;
  width: 368.83px;
  height: 398.87px;
}
.icon9 {
  top: 22.62px;
  left: 10.6px;
  border-radius: 184.5px;
  width: 319.02px;
  height: 304.29px;
  object-fit: cover;
}
.curic-andrei-div {
  position: absolute;
  top: 356.72px;
  left: 63.59px;
  font-weight: 600;
  display: inline-block;
  width: 266.02px;
  height: 41.12px;
  font-size: 22px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.div26 {
  position: absolute;
  top: 1854.91px;
  left: 600.97px;
  width: 340.21px;
  height: 397.84px;
}
.antrenori-div1,
.line-icon17 {
  position: absolute;
  top: 30.56px;
  left: -0.02px;
  width: 348.43px;
  height: 6.12px;
}
.antrenori-div1 {
  top: 0;
  left: 207.82px;
  font-weight: 600;
  display: inline-block;
  width: 226.71px;
  height: 34.95px;
  font-size: 24px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.antrenori-div {
  position: absolute;
  top: 2265.17px;
  left: 0;
  width: 434.54px;
  height: 61.68px;
  font-size: var(--font-size-3xl);
}
.ellipse-icon21 {
  position: absolute;
  top: -10px;
  left: -9.76px;
  width: 368.21px;
  height: 362.1px;
}
.teamcoach-176-2224-1-icon {
  position: absolute;
  top: 0;
  left: 4.24px;
  border-radius: 153px;
  width: 340.21px;
  height: 334.1px;
  object-fit: cover;
}
.orasanu-tudor-marius {
  position: absolute;
  top: 361.86px;
  left: 40px;
  font-weight: 600;
  display: inline-block;
  width: 422.88px;
  height: 70.93px;
  font-size: 22px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.head-coach-div {
  position: absolute;
  top: 2393.21px;
  left: 188.93px;
  width: 422.88px;
  height: 432.79px;
  font-size: var(--font-size-xl);
}
.ellipse-icon22 {
  position: absolute;
  top: -6.92px;
  left: -14px;
  width: 368.21px;
  height: 362.1px;
}
.teamcoach-176-2225-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 169px;
  width: 340.21px;
  height: 340.27px;
  object-fit: cover;
}
.mosuc-vasile-div {
  position: absolute;
  top: 364.94px;
  left: 100.23px;
  font-weight: 600;
  display: inline-block;
  width: 363.53px;
  height: 41.12px;
  font-size: 22px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.assistant-coach-div {
  position: absolute;
  top: 2383.96px;
  left: 946.74px;
  width: 420.76px;
  height: 406.06px;
  font-size: var(--font-size-xl);
}
.group-div3,
.house-1-icon8 {
  position: absolute;
  top: 780px;
  left: 0;
  width: 1436px;
  height: 2826px;
}
.house-1-icon8 {
  top: 660px;
  left: 746px;
  width: 89px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}
.lot-div3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3636px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
  top: -22px;
}
