.rectangle-a{
  top: 22px;
  left: 0;
  background-color: var(--color-white);
  width: 98.91px;
  height: 86.05px;
}
.account-1-a {
  position: absolute;
  top: 14px;
  left: 0px;
  width: 77.55px;
  height: 69.47px;
  object-fit: cover;
}
.rectangle-v {
  position: absolute;
  top: 12px;
  left: -52px;
  border-radius: var(--br-xs);
  width: 231.29px;
  height: 73px;
}
.volei-juvenil-v {
  position: absolute;
  top: 31px;
  left: -18px;
  font-weight: 600;
  display: inline-block;
  width: 204.72px;
  height: 39px;
  font-size: 22px;
  color: var(--color-indigo);
}
.detalii-d {
  position: absolute;
  top: 31px;
  left: -24px;
  font-weight: 600;
  display: inline-block;
  width: 102.36px;
  height: 39px;
  mix-blend-mode: normal;
  font-size: 22px;
  color: var(--color-indigo);
}
.rectangle-d {
  position: absolute;
  top: 12px;
  left: -52px;
  border-radius: var(--br-xs);
  width: 136.07px;
  height: 73px;
}
.rectangle-ca {
  position: absolute;
  top: 12px;
  left: -52px;
  border-radius: var(--br-xs);
  width: 172.46px;
  height: 73px;
}
.calendar-c {
  position: absolute;
  top: 31px;
  left: -28px;
  font-weight: 600;
  display: inline-block;
  width: 139.05px;
  height: 41px;
  mix-blend-mode: normal;
  font-size: 22px;
  color: var(--color-indigo);
}
.rectangle-c {
  position: absolute;
  top: 12px;
  left: -30px;
  border-radius: var(--br-xs);
  width: 180.55px;
  height: 73px;
}
.clasament-c {
  position: absolute;
  top: 31px;
  left: -34px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-indigo);
  text-align: center;
  display: inline-block;
  width: 191.2px;
  height: 29px;
  mix-blend-mode: normal;
  font-size: 22px;
}
.rectangle-l {
  position: absolute;
  top: 40px;
  left: 480px;
  border-radius: var(--br-xs);
  width: 82.14px;
  height: 73px;
}
.lot-l {
  position: absolute;
  top: 60px;
  left: 500px;
  font-weight: 600;
  display: inline-block;
  width: 54.08px;
  height: 36px;
  mix-blend-mode: normal;
  font-size: 22px;
  color: var(--color-indigo);
}
.rectangle-n {
  position: absolute;
  top: 40px;
  left: 330px;
  border-radius: var(--br-xs);
  width: 136.07px;
  height: 73px;
}
.nouti-n{
  position: absolute;
  top: 60px;
  left: 348px;
  font-weight: 600;
  display: inline-block;
  width: 110.08px;
  height: 31px;
  font-size: 22px;
  color: var(--color-indigo);
}
.volei-csm-p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size:20px;
}
.suceava-p {
  margin: 0;
  font-size:20px;
}
.volei-csm-suceava {
  position: absolute;
  top: 35px;
  left: 90.77px;
  font-weight: 600;
  display: inline-block;
  width: 158.37px;
  height: 72px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-csm-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 90.91px;
  height: 110px;
  object-fit: cover;
}
.logo-div {
  position: absolute;
  top: 23px;
  left: 50.39px;
  width: 249.14px;
  height: 110px;
  text-align: left;
  color: var(--color-black);
}
.line-icon14 {
  position: absolute;
  top: 30px;
  left: -25.02px;
  width: 360px;
  height: 14.41px;
}
.meciuri-urmtoare-div {
  position: absolute;
  top: 0;
  left: 95px;
  font-weight: 600;
  display: inline-block;
  width: 380px;
  height: 33px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.meci-urmator-div1 {
  position: absolute;
  top: 160px;
  left: 0;
  width: 483.78px;
  height: 60.26px;
  font-size: 22px;
  color: var(--color-black);
}
.rectangle-div4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 51.91px;
  height: 62.22px;
}
.next-arrow-3-icon1 {
  position: absolute;
  top: 7.04px;
  left: 3.79px;
  width: 44.34px;
  height: 63.18px;
  object-fit: cover;
}
.buton-dreata-div1,
.rectangle-div5 {
  position: absolute;
  top: 3.81px;
  left: 94.09px;
  width: 51.91px;
  height: 62.22px;
}
.rectangle-div5 {
  top: 0.01px;
  left: 0;
  background-color: var(--color-white);
  height: 62.21px;
}
.next-arrow-4-icon1 {
  position: absolute;
  top: 0;
  left: 5.91px;
  width: 42.58px;
  height: 61.19px;
  object-fit: cover;
}
.buton-stanga-div1,
.rectangle-div6 {
  position: absolute;
  top: 11.43px;
  left: 0;
  width: 51.91px;
  height: 62.22px;
}
.rectangle-div6 {
  top: 0;
  background-color: var(--color-white);
  width: 56.24px;
  height: 80px;
}
.calendar-1-icon1 {
  position: absolute;
  top: 7.9px;
  left: 2.06px;
  width: 54.72px;
  height: 68.25px;
  object-fit: cover;
}
.buton-calendar-div3,
.calendar-div3,
.div7,
.div8 {
  position: absolute;
  top: 0;
  left: 45.42px;
  width: 56.24px;
  height: 80px;
}
.calendar-div3,
.div7,
.div8 {
  top: 3px;
  left: 1354px;
  width: 146px;
}
.div7,
.div8 {
  top: 280px;
  left: 30px;
  font-size: var(--font-size-4xl);
  font-weight: 600;
  color: var(--color-indigo);
  display: inline-block;
  width: 218px;
  height: 37px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 22px;
}
.div8 {
  top: 558px;
  width: 225px;
  font-size: 22px;
}
.background-icon1 {
  position: absolute;
  height: 100%;
  width: 20.42%;
  top: 0;
  right: 79.58%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.csm-u-craiova2 {
  position: absolute;
  top: 31px;
  left: 80px;
  font-weight: 600;
  display: inline-block;
  width: 276.63px;
  height: 53.78px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.csm-craiova-div {
  position: absolute;
  height: 7.52%;
  width: 23.78%;
  top: 230px;
  right: 53.82%;
  bottom: 78.34%;
  left: 330px;
  color: var(--color-black);
  font-size: 22px;
}
.logo-csm-14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 69.28px;
  height: 86px;
  object-fit: cover;
}
.csm-suceava-div7 {
  position: absolute;
  top: 35px;
  left: 80px;
  font-weight: 600;
  display: inline-block;
  width: 263.26px;
  height: 47.57px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.csm-suceava-div6 {
  position: absolute;
  top: 512px;
  left: 320px;
  width: 343.26px;
  height: 86px;
  color: var(--color-black);
  font-size: 22px;
}
.csm-suceava-div9 {
  position: absolute;
  top: 27px;
  left: 88px;
  font-weight: 600;
  display: inline-block;
  width: 263.26px;
  height: 47.57px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.csm-suceava-div8 {
  position: absolute;
  top: 240px;
  left: 1105px;
  width: 351.26px;
  height: 86px;
  color: var(--color-black);
  font-size: 22px;
}
.divizia-a12,
.divizia-a13,
.sala-polivalent-craiova1 {
  position: absolute;
  top: 230px;
  left: 30px;
  font-weight: 600;
  display: inline-block;
  width: 184px;
  height: 40px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 22px;
}
.divizia-a13,
.sala-polivalent-craiova1 {
  top: 507px;
  width: 174px;
  height: 31px;
  font-size: 22px;
}
.sala-polivalent-craiova1 {
  top: 345px;
  left: 710px;
  width: 406px;
  height: 52px;
}
.d26lfm-r94wk7cd-1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 91px;
  object-fit: cover;
}
.u-cluj-div3 {
  position: absolute;
  top: 40px;
  left: 110px;
  font-weight: 600;
  display: inline-block;
  width: 128.25px;
  height: 20.85px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.u-cluj-div2 {
  position: absolute;
  top: 507px;
  left: 1090px;
  width: 238.25px;
  height: 91px;
  color: var(--color-black);
  font-size: 22px;
}
.sala-de-sport-dumitru-bernic1 {
  position: absolute;
  top: 607px;
  left: 670px;
  font-weight: 600;
  display: inline-block;
  width: 530px;
  height: 52px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 22px;
}
.meci-icon1 {
  position: absolute;
  top: 480px;
  left: 30px;
  width: 1470px;
  height: 651px;
  object-fit: cover;
}
.div10,
.div9 {
  position: absolute;
  top: 240px;
  left: 826px;
  font-size: var(--font-size-8xl);
  display: inline-block;
  width: 35px;
  height: 44px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.div10 {
  top: 522px;
  left: 829px;
  width: 44px;
  height: 42px;
}
.house-1-icon6 {
  position: absolute;
  top: 7px;
  left: 783px;
  width: 76px;
  height: 74px;
  object-fit: cover;
  cursor: pointer;
}
.next-match-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1131px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-brown);
  font-family: var(--font-inter);
}
